.entrform {
    margin-top: 80px;
    margin-left: 1050px;
    width: 400px;
    height: 250px;
    background-color: darkblue ;
    border-radius:10px;
}
.regform {
    margin-top: 80px;
    margin-left: 1050px;
    width: 400px;
    height: 400px;
    background-color: darkblue ;
    border-radius:10px;

}
.hidden{
    display: none;
}
.bodybackground {
    background-image: url('/images/graph.jpg');
    background-size: auto;
}
.header {
    background-color: dodgerblue;
    margin-left: -8px;
    margin-right: -8px;
    margin-top : -8px;
    height: 50px;
}
.logotipebutton{
    margin-top : 14px;
    margin-left: 10px;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    border-color: cyan;
    background-color: cyan ;
}
.jirnu{
    font-weight: 600;
}
.ssulka{
    color:white;
    text-decoration: none;
    font-size: 120%;
}
/*.words{*/
/*    color:white;*/
/*    text-decoration: none;*/
/*}*/
.pole {
    width: 250px;
    height: 25px;
    margin-left: 70px;
    margin-top: 5px;
}
.passpole .cnfrmpasspole{}
.regformbutton{
    width: 258px;
    height: 25px;
    color:white;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    margin-left:70px;
}
.registration{
    color:white;
    height: 40px;
    width: 160px;
    font-size: 15px;
    border-color: darkblue;
    background-color: darkblue;
    margin-left:200px;
    margin-top:5px;
}
/*вход*/
.entry{
    color:white;
    height: 40px;
    width: 160px;
    font-size: 15px;
    border-color: darkblue;
    background-color: darkblue;
    margin-left:30px;
    margin-top: 0px;
    transform: translate(0%, -98%);
}
.msg{
    color:white;
    margin-top: 10px;
    margin-left: 70px;
}
.regpole .entrpole{
}
.red{
    border-color:red;
}
